/* default */
@font-face{
    font-family: Domain;
    src: url(./fonts/DomaineDispCondMedium.ttf);
    font-family: Canopee;
    src: url(./fonts/Canopee.ttf);
    font-family: EditorialNew;
    src: url(./fonts/EditorialNew-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width:100%;
    transition: transform 1.2s ease-out 1S;  
}
#main{
    background-color: #222;
    overflow-x: hidden;
}
/* navbar section start hear */
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #716E68;
    background-color: hsl(32, 13%,74%);
}
#nav img{
    height: 30px;
    width: 25%;
}
#nav h5{
    font-size: 15px;
    font-weight: 100;
    width: 30%;
}
#nav i{
    width: 30%;
    text-align: right;
}
/* page1 start hear */
#page1{
    background-color: hsl(32, 13%, 74%);
    overflow-x: hidden;
}
/* section1 start hear */
#section1 {
    border-top:1px solid #908B84;
    display: flex;
}
#ele1 h4 , #ele3 h4{
    color: #1d1d18;
    margin: 20px 0px;
    font-family: Canopee;
    font-size: 30px;
    font-weight: 600;
}
#ele1 h4 span , #ele3 h4 span {
    background: #B84118;
    color: #C6BEB5;
    font-size: 1.2vw;
    font-weight: 400;
    padding: 3px;
    border-radius: 10%;
}
#ele1 , #ele3{
    width: 33.33%;
    margin: 40px 70px;
    font-size: large;
    font-size: 23px;
    font-weight: 500;
}
#ele2{
    width: 33.33%;
    margin: 40px 10px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#ele2 h2{
    color: #1d1d18;
    padding-top: 3px;
    font-size: 80px;
    font-family: Canopee;
    font-weight: 500;
    letter-spacing: -3px;
}
#ele2 h3{
    margin-top: 10px;
    font-size: 45px;
    font-weight: 200;
}
#ele2 h6{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 700;
}
#ele2 h6 span{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
}
#ele1 p , #ele2 , #ele3 p{
    font-family: EditorialNew
}
.img-div{
    height: 210px;
    overflow: hidden;
    border-radius: 3PX;
    width: 534px;
}
.img-div img{
    width: 100%;
    transition: all ease 0.45s;
    object-fit: cover;
}
.img-div:hover img{
    scale: 1.2;
}
/* miranda section start hear */
#Miranda{
    font-size: 700px;
    font-family: Canopee;
    font-weight: 400;
    letter-spacing: -35px;
    background-color: #1C1C1A;
    color: #C5BEB4;
    padding-left: 20px;
    line-height: 600px;
    margin: 35px;
}
/* section-2 start hear */
#section2 {
    display: flex;
}
#box1{
    margin: 40px;
    width: 650px;
    margin-top: 50px;
}
#box1 h2{
    font-family: canopee;
    font-size: 167px;
    color: #1C1C19;
    text-align: center;
    font-weight: 400;
    letter-spacing: -15px;
    line-height: 150px;
}
#box1 h2 span{
    font-size: 210px;
    font-weight: 700;
    color: #1C1C19;
    letter-spacing: normal;    
}
#box1 img{
    width:105%;
    margin-left: 5px;
    margin-top: 20px;
}
#box1 h5::first-letter{
    
    font-size: 90px;
    font-weight: 700;
    background-color: #1d1d1b;
    color: #CDC6BE;
    font-family: Canopee;
    font-feature-settings: "ss03";
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    padding:  10px;    
}
#box1 h5 {
    font-family: EditorialNew;
    font-size: 42px;
    font-weight: normal;
    margin-top: 20px;
    width: 600px;
}
#box2{
    margin: 40px;
    border-left: 1px solid black;
}
#box2 img{
    margin-left: 40px;
    width: 97%;
    height: 55%;
}
#box2 h2{
    font-family: canopee;
    font-size: 130px;
    font-weight: 600;
    margin: 50px;
    letter-spacing: -3px;
}
/* section-3 start hear */
#section3{
    width: 100%;
    height: 500px;
    display: flex;
}
#Website{
    width: 80%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
#NiccoloMiranda{
    width: 20%;
    height: 100%;
    margin-right: 10px;
}
#Website h1{
    font-size: 550px;
    font-family: Canopee;
    font-weight: 400;
    letter-spacing: -25px;
    background-color: #1C1C1A;
    color: #C5BEB4;
    line-height: 480px;
    margin: 40px;
    padding-right: 30px;    
}
#NiccoloMiranda img{
    margin-top: 30px;
    width: 95%;    
    height: 97%;
}
/* section-4 start hear */
#section4{
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-top: 80px;
 }
/* section4 left part css start hear */ 
#left{
    width: 65%;
    overflow: hidden;
    border-right: 1px solid black;
}
#upcontent{
    display: flex;
    width: 100%;
    height: 366px;
}
#up-left{
    width: 90%;
    border-right: 1px solid black;
}
#up-left h1{
    font-family: Canopee;
    font-size: 75px;
    letter-spacing: -3px;
    font-weight: 500;
}
#up-left h4{
    font-family: EditorialNew;
    font-weight: 100;
    font-size: 55px;
    letter-spacing: -4px;
    margin-top: 10px;
    margin-right: 20px;
}
#up-left h6{
    font-family: canopee;
    font-size: 26px;
    margin-top: 30px;
}
#up-left h6 span{
    font-family: EditorialNew;
    font-size: 23px;
    font-weight: 100;
}
#up-right{
    margin-right: 50px;
}
#up-right-img{
    margin-left: 50px;
}
#up-right h1{
    font-family: Canopee;
    margin-left: 50px;
    font-size: 35px;
    font-weight: 500;
}
#up-right h6{
    width: 80%;
    font-family: EditorialNew;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: -1px;
    margin-left: 50px;
    margin-top: 15px;

}
#downcontent {
    margin-top: 60px;
}
#downcontent img{
    width: 95.7%
}
/* section4 right part css start hear */
#right{
    width: 35%;
    height: 1215px;
    padding-left: 50px;
}
#right h2 {
    font-family: Canopee;
    font-size: 140px;
    font-weight: 500;
    letter-spacing: -7px;
}
#right h1 {
    font-family: Canopee;
    font-size: 280px;
    font-weight: 500;
    letter-spacing: -18px;
}
#right h5::first-letter{
    font-family: Canopee;
    font-size: 90px;
    background: #000;
    color: #CDC6BE;
    font-feature-settings: "ss03";
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    padding:  10px;
}
#right h5 , h6 {
    font-family: EditorialNew;
    font-size: 41px;
    font-weight: 100;
    letter-spacing: -2px;
    box-sizing: border-box;
}
#right h6{
    margin-top: 50px;
}
#allwork{
    background-color: #CAC1B6;
    margin-top : 20px;
    width: 95%;
    height: 20%;
    border-radius: 150%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
#allwork h3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Canopee;
    font-size: 100px;
    letter-spacing: -3px;
    font-weight: 600; 
    transform: translateX(-70px);
    transition: all ease 0.6s;
}
#allwork img{
    height: 60px;
    transition: all ease 0.6s;
    width: 290px;
    transform: translateX(-300px);
}
#allwork:hover h3 {
    transform: translateX(450px);
}
#allwork:hover img {
    transform: translateX(180px);
}
/* page2 start hear */
#page2{
    background-color: hsl(32, 13%, 74%);
    overflow-x: hidden;
}
/* container-1 start hear */
#container-1{
    width: 96%;
    height: 260px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 35px;
    display: flex;
}
.awards{
    width: 25%;
    height: 100%;
    display: flex;
}
.Titel{
    text-align: center;
    margin-top: 50px;
}
.awards h1{
    font-family: Canopee;
    font-size: 211px;
    margin: 10px;
    font-weight: 100;
    color: #1C1C19;
}
.awards h2{
    font-family: Canopee;
    font-size: 93px;
    font-weight: 500;
    letter-spacing: -5px;
    color: #1C1C19;
}
.awards h3{
    font-family: EditorialNew;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: -1px;
}
/* container-2 start hear  */
#container-2{
    display: flex;
    width: 96%;
    margin: 35px;
    margin-top: 100px;
}
#container-2-left{
    width: 59%;
    overflow: hidden;
}
#con-2-left-up{
    width: 95%;
    display: flex;
    overflow: hidden;
    margin-bottom: 25px;
}
#container-2-left img{
    width: 268px;
    height: 430px;
}
#container-2-right img{
    width: 900px;
    height: 892px;
}
/* container-3 start hear  */
.headline{
    font-family: Canopee;
    font-size: 595px;
    font-weight: 500;
    letter-spacing: -30px;
    line-height: 445px;
    color: #1C1C19;
    margin-left: 5px;
}
.headline span{
    display: inline-block;
    transform: scaleX(0.6);
    font-family: Domain;
    letter-spacing: -130px;
    margin-left: -50px;
    font-weight: 700;
}
#container-3{
    display: flex;
    margin-left: 40px;
    overflow: hidden;
}
#container-3 img{
    width: 500px;
    height: 430px;
}
/* container-4 start hear  */
#container-4{
    display: flex;
    overflow: hidden;
    margin-left: 35px; 
    height: 428px;
    align-items: center;
    width: 100%;
    margin-bottom: 60px; 
}
#con-4-left{
    background-color: #262623;
    margin-top: 30px;
    width: 61%;
    padding: 15px;
}
#con-4-left h1{
    font-family: Canopee;
    font-size: 487px;
    font-weight: 100;
    letter-spacing: -20px;
    color: #BDB5AC;
}
#con-4-right{
    height: 100%;
    width: 35%;
    padding: 0px 40px;
}
#con-4-right h6{
    font-family: EditorialNew;
    font-size: 40px;
    font-weight: 100;
    color: #403F3B;
}
#con-4-right h4{
    font-family: Canopee;
    font-size: 149px;
    font-weight: 100;
    letter-spacing: -5px;
    line-height: 140px;
}
/* container-5 start hear  */
#container-5{
    width: 96%;
    margin: 0 35px;
    padding: 40px 0px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 }
 #container-5::-webkit-scrollbar{
    display: none;
 }
#container-5 h1{
    font-family: EditorialNew;
    font-size: 115px;
    font-weight: 100;
    letter-spacing: -5px;
    display: flex;
    align-items: center;
    display: inline-block;
    margin-right: 50px;
    animation-name: scroll;
    animation-duration: 4s;
     animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#container-5 h1 span {
    font-family: Canopee;
    color: #C4BCB3;
    background-color: #1C1C1A;
    padding: 0px 10px;
}
@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(-100% - 54px));
    }
}
#container-5:hover h1 {
    animation-play-state: paused;
}
/* container-6 start hear  */
#container-6{
    height: 100px;
    display: flex;
}
#container-6 h1{
    width: 78%;
    font-family: Canopee;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 40px;
    font-weight: 100;
}
#container-6 a{
    text-decoration: none;
    font-family: Canopee;
    margin-top: 40px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 100;
    color: #706B66;
}
#container-6 i{
    padding: 10px;
    font-size: 30px;
    margin-top: 35px;
    padding: 1px;
}
/* completed Clone Project  */